/* Header section (Wish list container) */

.wish-list-container {
    position: absolute;
    top: 80px;
    right: 0;
    width: 340px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    z-index: 90;
}

.wish-list-container.active {
    opacity: 1;
    visibility: visible;
}

.wish-list-container img {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.wishlist-btn a,
.compare-btn a {
    cursor: pointer;
}

#mobile-wishlist-btn {
    position: relative;
}

#mobile-wishlist-btn span {
    position: absolute;
    font-size: 14px;
    top: 0;
    right: 0;
    background-color: #0d6efd;
    color: #fff;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 4px;
}

.service-info img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 992px) {
    .wish-list-container {
        top: 40px;
        width: 300px;
    }
    .wish-list-container img {
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 576px) {
    .wish-list-container {
        width: 280px;
        right: 5px;
        top: 35px;
    }
}

.status-3 {
    background-color: brown !important;
}

.add-to-wishlist {
    cursor: pointer !important;
}


/* Dynamic rating */

.rating-label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
}

.rating-stars {
    float: left;
    direction: rtl;
    /* Reverse order so clicking works naturally */
    unicode-bidi: bidi-override;
}

.rating-stars input {
    display: none;
    /* hide inputs */
}

.rating-stars label {
    font-size: 25px;
    color: #ccc;
    cursor: pointer;
    padding: 0 2px;
    transition: color 0.2s ease-in-out;
}


/* Highlight on hover */

.rating-stars label:hover,
.rating-stars label:hover~label {
    color: #ffb400;
}


/* When selected */

.rating-stars input:checked~label {
    color: #ffb400;
}

.car-list-item .primary-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


/* year range slider */

.slider-container {
    width: 100%;
    margin: 20px 0;
}

#yearRangeSlider {
    margin-top: 10px;
}

.noUi-target {
    border-radius: 20px !important;
    cursor: pointer;
}

.noUi-horizontal {
    height: 10px !important;
}

.noUi-horizontal .noUi-handle {
    height: 20px !important;
    width: 20px !important;
    border-radius: 50%;
    cursor: pointer;
}

.whatsapp-btn-link {
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    background-color: #13b950;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s ease;
}

.whatsapp-btn-link img {
    width: 24px;
    height: 24px;
}

.whatsapp-btn-link:hover {
    background-color: #1ebe5d;
    color: #fff;
    transform: translateY(-2px);
}

.single-carousel {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
}

.video-content {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.single-carousel img {
    width: 100%;
}

.find-car {
    margin-top: -40px !important;
}

@media screen and (max-width: 992px) {
    .find-car {
        margin-top: 10px !important;
    }
}