.service-info img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.status-3 {
    background-color: brown !important;
}


/* Dynamic rating */

.rating-label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
}

.rating-stars {
    float: left;
    direction: rtl;
    /* Reverse order so clicking works naturally */
    unicode-bidi: bidi-override;
}

.rating-stars input {
    display: none;
    /* hide inputs */
}

.rating-stars label {
    font-size: 25px;
    color: #ccc;
    cursor: pointer;
    padding: 0 2px;
    transition: color 0.2s ease-in-out;
}


/* Highlight on hover */

.rating-stars label:hover,
.rating-stars label:hover~label {
    color: #ffb400;
}


/* When selected */

.rating-stars input:checked~label {
    color: #ffb400;
}